.hot-slider-timeline__items {
    display: flex;
    overflow: hidden;
    height: 100%;
    flex-basis: 3;
}
.hot-slider-timeline__item {
    /* flex-shrink: 0; */
    flex: 1;
    transition: opacity .3s;
    /* width: 160px; */
    width: 100%;
}
.hot-slider-timeline__item--active .hot-slider-timeline__progress-bar {
    background-color: var(--color-primary);
}
.hot-slider-timeline__item--active .hot-slider__timelineBackground {
    scale: 1.1;
    opacity: 1;
}
.hot-slider__timeline__itemContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, rgba(255,92,0,0) 0%, rgba(18,18,18,0.5) 10%, rgba(18,18,18,1) 20%, rgba(18,18,18,1) 80%, rgba(18,18,18,0.5) 90%, rgba(18,18,18,0) 100%);
}
.hot-slider__timelineBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    scale: 1;
    opacity: .2;
    object-fit: cover;
    transition-property: scale opacity;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hot-slider-timeline__item-title {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.hot-slider-timeline__item-title {
    display: none;
}
@media only screen and (min-width:650px) {
    .hot-slider-timeline__item-title {
        display: block;
    }
}
.hot-slider-timeline__progress-bar-mask {
    position: absolute;
    border-radius: 1px;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hot-slider-timeline__progress-bar {
    height: 100%;
    transform-origin: 0;
}
.hot-slider-timeline--waiting .hot-slider-timeline__item--active .hot-slider-timeline__progress-bar {
    background-color: initial;
}
.hot-slider-timeline--animate .hot-slider-timeline__item--active .hot-slider-timeline__progress-bar {
    animation-delay: 0;
    animation-duration: 4.7s;
    animation-name: hot-slider-timeline__progress-bar;
    animation-timing-function: linear;
    background-color: var(--accentColor);
}   
@keyframes hot-slider-timeline__progress-bar {
    0% {
        transform:scaleX(0);
    }
    to {
        transform:scaleX(1);
    }
}