
    .slider-content-layout--fade-in * {
        opacity:1;
        transform:translateX(0);
        transition-timing-function:cubic-bezier(0,.32,.32,1)
    }

    .slider-content-layout--fade-out * {
        opacity:0;
        transform:translateX(-40px);
        transition-timing-function:cubic-bezier(.32,0,1,.32)
    }

    .slider-content-layout--reset * {
        transition-delay:0ms;
        transition-duration:0ms
    }

    .slider-content-cta {
        /* transition: all cubic-bezier(0,.32,.32,1), scale 5s ease; */
    }
