.Section.HomepageNextEVent {
    --sectionPaddingTopMax: 0;
    --sectionPaddingBottomMax: 50;
}
@media (max-width: 899px) {
    .Section.HomepageNextEVent {
        --sectionPaddingBottomMax: calc(var(--sectionPaddingNormalMax) + 40);
    }
}
.NextEventGrid {
    --gridRowGap: var(--rowGap);
    row-gap: var(--rowLayoutGap);
    justify-items: center;
    align-items: center;
}
.NextEvent__container {
    grid-column: auto/span var(--columnCountMax);
    height: 40vh;
    width: 100vw;
    position: relative;
    inset: 0;
}
#gradient-canvas {
    --gradient-color-1: #702900;
    --gradient-color-2: #7e2e00;
    --gradient-color-3: #b44301;
    --gradient-color-4: #ff5c00;
    opacity: .6;
}