.lineClamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--lineClampXSmall);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

[data-pattern-type-raster] {
    background-size: var(--backgroundSize);
    background-image: var(--backgroundImageRaster);
    background-repeat: repeat;
}