html {
    --gutterWidth: 16px;
    /* scrollbar width */
    --scrollbarWidth: 17px;
    /* width of the window */
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    /* width of the content layout (left guide-line to right guide-line) */
    /* override on 1112px => layoutWidthMax */
    --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax: 1080px;
    --viewportWidthSmall: 375;
    --viewportWidthMedium: 600;
    --viewportWidthLarge: 1112;
    --viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
    --paddingTop: 160px;
    --paddingBottom: 160px;
    --columnPaddingNone: 0;
    --columnPaddingSmall: 8px;
    /*  */
    --columnPaddingNormal: 16px;
    --columnPaddingMedium: 16px;
    --columnPaddingLarge: 16px;
    --columnPaddingXLarge: 16px;
    --rowGapNormal: 8px;
    --rowGapMedium: 24px;
    --rowGapLarge: 32px;
    --rowGapXLarge: 64px;
    --rowGapXXLarge: 88px;
    --rowGap: var(--rowGapNormal);
    /* maximum number of columns in the guides grid */
    /* override  */
    --columnCountMax: 1;
    --columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
    --columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
    --copyMaxWidth: calc(var(--columnMaxWidth)*3);
    /* number of lines before clamp */
    --lineClampXSmall: 2;
    --lineClampSmall: 3;
    --lineClampMedium: 4;
    --lineClampLarge: 5;
    --lineClampxLarge: 6;
    /* sets the raster size of the background */
    --backgroundSizeMin: 15px 15px, 45px 45px;
    --backgroundSizeScale: 2vw 2vw, 6vw 6vw;
    --backgroundSizeMax: 33px 33px, 99px 99px;
    /* always have 24 repeats in x-direction */
    --backgroundSizeKeep25: calc(var(--windowWidth) / 75) calc(var(--windowWidth) / 75), calc(var(--windowWidth) / 25) calc(var(--windowWidth) / 25);
    --backgroundSize: var(--backgroundSizeMin);
    /* transitions */
    --transitionShort: 200ms;
    --transitionMedium: 300ms;
    --transitionLong: 400ms;
}
@media (min-width: 600px) {
    html {
        --columnPaddingMedium: 32px;
        --columnPaddingLarge: 64px;
        --columnPaddingXLarge: 64px;
        --columnCountMax: 2;
    }
}
@media (min-width: 900px) {
    html {
        --columnPaddingXLarge: 112px;
        --columnCountMax: 4;
        --backgroundSize: var(--backgroundSizeScale);
    }
}
@media (min-width: 1112px) {
    html {
        --layoutWidth: var(--layoutWidthMax);
        --gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
        --backgroundSize: var(--backgroundSizeMax);
    }
}

:root {
    /* static colors */
    --backgroundRasterColor: rgba(37, 37, 37, 0.308);
    /* static values */
    --fontFamily: "Clash Display", sans-serif;
    --fontWeightLight: 200;
    --fontWeightNormal: 300;
    --fontWeightSemibold: 425;
    --fontWeightBold: 500;
    --fontWeightExtraBold: 700;
    --ctaFont: var(--fontWeightSemibold) 15px/1.6 var(--fontFamily);
    --inputFont: var(--fontWeightNormal) 15px/1.6 var(--fontFamily);
    --cardShadowXSmall: 0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);
    --cardShadowSmall: 0 6px 12px -2px rgba(50,50,93,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
    --cardShadowMedium: 0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3);
    --cardShadowLarge: 0 30px 60px -12px rgba(50,50,93,0.25),0 18px 36px -18px rgba(0,0,0,0.3);
    --cardShadowLargeInset: inset 0 30px 60px -12px rgba(50,50,93,0.25),inset 0 18px 36px -18px rgba(0,0,0,0.3);
    --cardShadowXLarge: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
    --cardShadowXSMallMargin: 2px;
    --cardShadowSmallMargin: 8px;
    --cardShadowMediumMargin: 16px;
    --cardShadowLargeMargin: 32px;
    --cardShadowXLargeMargin: 48px;
    --cardBorderRadius: 8px;
    --scrollbarOffset: 10px;
    --fixedNavHeight: 60px;
    --fixedNavSpacing: 48px;
    --fixedNavScrollMargin: calc(var(--fixedNavHeight) + var(--fixedNavSpacing));
    --hoverTransition: 150ms cubic-bezier(0.215,0.61,0.355,1);
    --focusBoxShadow: 0 0 0 2px #4d90fe,inset 0 0 0 2px hsla(0,0%,100%,0.9);
    /* sets the background image to display the raster */
    --backgroundImageRaster: 
    linear-gradient(to bottom, transparent 5px, transparent 5px), 
    linear-gradient(to right, var(--backgroundRasterColor) 1px, transparent 1px), 
    linear-gradient(to right, transparent 5px, transparent 5px), 
    linear-gradient(to bottom, var(--backgroundRasterColor) 1px, transparent 1px);
    
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fontFamily);
    font-weight: var(--fontWeightNormal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--textColor);
    background: var(--backgroundColor);
}

.flavor--Primary {
    /* primary color palettes */
    --accentColor: rgb(255, 92, 0);
    --accentColorOpacityLow: #ff5e0048;
    --guideBackground: #e65400;
    --guideDarkColor: #a83e00;
    --guideLightColor: #ff7b2e;
    --guideLighterColor: #ff8b48;
    --guideLightestColor: #ffa570;

}

.theme--dark {
    /* dark theme color palettes */
    --color-primary: #ff5c00;
    --color-primary-hover: #ff5e00dc;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-admin: rgb(78, 78, 212);
    --color-outline: rgb(57, 57, 57);
    
    --background: #121212;
    --background-hover: #27262698;
    --background-admin: #1b1a1a;

    --backgroundColor: #121212;
    --backgroundColorLighter: #2525252f;
    --linkColor: var(--accentColor);
    --linkHoverColor: #0a2540;
    --buttonColor: var(--accentColor);
    --buttonHoverColor: #0a2540;
    --buttonDisabledColor: #cfd7df;
    --buttonDisabledOpacity: 0.7;
    --knockoutColor: #fff;
    --knockoutDisabledColor: #8898aa;
    --guideSolidColor: rgba(97, 97, 97, 0.233);
    --guideDashedColor: rgba(97, 97, 97, 0.255);
    --guideDashedColorOpacityLow: rgba(97, 97, 97, 0.13);
    --titleColor: #ffffff;
    --textColor: #ffffff;
    --textColorLighter: rgb(68, 68, 68);
    --inputBackground: #e6ebf1;
    --inputPlaceholderColor: #8898aa;
    --inputTextColor: #0a2540;
    --inputErrorAccentColor: #ff5996;
    --annotationColor: #8c9eb1;
    --maskFadeColor: rgba(0,0,0,0.4);
    --navColor: #0a2540;
    --navHoverColor: #0a2540;
    --navHoverOpacity: 0.6;
    --footerColor: #0a2540;
    --cardBorderColor: #cbd6e0;
    --cardBackground: #fff;
    --subcardBackground: #f6f9fc;
    --gridSubcardBackground: #fff;
    --tableIconColor: #8c9eb1;
    --stripeAccentWhite: #fff;
    --stripeAccentLight: #e3e7ec;
    --stripeAccentDark: #0a2540;
    --bulletColor: #cfd7df;
    --footnoteTextColor: #4d5b78;
    --disclaimerTextColor: #707f98;
    --inlineCodeTextColor: #2c3a57;
    --inlineCodeBackground: #dce6ee;
    --socialLogoColor: #c4ccd8;
    --socialLogoHoverColor: #0a2540;
}
