.Section.HomepageIntro {
    --sectionPaddingTopMax: 0;
    --sectionPaddingBottomMax: 0;
}
@media (max-width: 899px) {
    .Section.HomepageIntro {
        --sectionPaddingBottomMax: calc(var(--sectionPaddingNormalMax) + 40);
    }
}
.IntroGrid {
    --gridRowGap: var(--rowGap);
    row-gap: var(--rowLayoutGap);
    justify-items: center;
    align-items: center;
}
.Slider__container {
    grid-column: auto/span var(--columnCountMax);
    background-color: var(--backgroundColorLighter);
    height: 80vh;
    width: 100%;
    /* mask-image: linear-gradient(90deg,transparent,#000 80px,#000 calc(100% - 80px),transparent); */
}