@layer defaults {
    [data-root-id="newsroot"] {
        background-color: var(--color-black);
    }
    
    section {
        padding: 0 100px;
    }

    .outer-wrapper {
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
    }

    .slider-wrapper {
        position: relative;
        height: 50vh;
        background-color: red;
    }
    
    .ds-layout {
        display: grid;
        grid-gap: 1vw;
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: fit-content;
        grid-auto-columns: fit-content;
        grid-auto-flow: dense;
    }
    
    [data-section-id="discovery-stream-wrapper"] {
        padding: 60px 10vw;
        height: fit-content; 
        margin: 0 auto;
    }

    .ds-card-grid-space-10-2 {
        grid-row: auto/span 10;
        grid-column: auto/span 4;
    }   
}

@media(min-width: 1200px) {
    @layer breakpoints {
        .ds-layout-breakpoint {
            grid-template-columns: repeat(6, auto);
        }

        .ds-card-grid-space-breakpoint {
            grid-row: auto/span 10;
            grid-column: auto/span 2;
        }
    }
}

@media(min-width: 1480px) {
    @layer breakpoints {
        .discovery-stream-layout-breakpoint {
            grid-template-columns: repeat(8, auto);
        }
    }
}

@media(min-width: 1860px) {
    @layer breakpoints {
        .discovery-stream-layout-breakpoint {
            grid-template-columns: repeat(10, auto);
        }
    }
}