.home {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.home section {
    z-index: 10;
}

.head {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    .head .champion {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.home .head .head-welcome {
    text-align: center;
}

.home .head .head-welcome h2 {
    text-transform: uppercase;
    color: var(--color-white);
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
    font-weight: 700;
}

.home .head .head-welcome h1 {
    color: var(--color-primary);
    font-size: clamp(2rem, 2rem + 2vw, 4rem);
    font-weight: 700;
}

@media (min-width: 800px) {
    .home .head .head-welcome {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 4rem 4rem;
        text-align: left;
    }
    
    .home .head .head-welcome h2 {
        line-height: 10px;
        font-size: clamp(2.5rem, 2.5rem + 4vw, 3.5rem);
    }

    .home .head .head-welcome h1 {
        font-size: clamp(5rem, 5rem + 4vw, 10rem);
    }
}

.home .head .head-imprint {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: max-content;
}

.home .head .head-imprint h4 {
    color: var(--color-white);
    font-size: clamp(.5rem, .5rem + 1vw, 1.5rem);
    text-transform: uppercase;
}

.home .head .head-imprint ul {
    display: flex;
    justify-content: space-between;
}

.home .head .head-imprint ul li {
    color: var(--color-primary);
    size: "sm";
}

@media (min-width: 800px) {
    .home .head .head-imprint {
        padding: 0 4rem 4rem 0;
    }
    .home .head .head-imprint h4 {
        font-size: clamp(.5rem, .5rem + 1vw , 1rem);
        font-weight: 600;
    }
}

.sponsors {
    border-top: 2px dashed var(--color-primary);
    border-bottom: 2px dashed var(--color-primary);
    background-color: var(--color-black);
}

.sponsors ul {
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

@media (min-width: 800px) {
    .sponsors ul {
        padding: 1.5rem 0;
    }
}

.sponsors ul img {
    max-width: 100%;
    width: auto\9;
    height: auto;
}

.team {
    padding: 2.5vh 7.5vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
}

@media (min-width: 1000px) {
    .team {
        padding: 10vh 5vw;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
}

.team .team-desc,
.team .team-player {
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
}

.team .team-desc {
    text-align: center;
    min-width: 280px;
}

@media (min-width: 1000px) {
    .team .team-desc {
        text-align: left;
        max-width: calc((100% - 15vw) / 2);
    }
}

.team .team-desc h3 {
    color: var(--color-primary);
    font-weight: 800;
    font-size: clamp(2rem, 2rem + 2vw, 6rem);
    line-height: 30px;
}

@media (min-width: 1000px) {
    .team .team-desc h3 {
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
}

.team .team-desc h4 {
    color: var(--color-white);
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
    font-weight: 700;
}

@media (min-width: 1000px) {
    .team .team-desc h4 {
        font-size: clamp(1rem, 1rem + 2vw, 2rem);
        margin-bottom: 50px;
    }
}

.team .team-desc p {
    color: var(--color-white);
    font-weight: 500;
    padding: 2vh 7.5vw;
    border-left: 5px solid var(--color-primary);
    background: linear-gradient(to left,transparent, rgb(72, 40, 40));
}

@media (min-width: 1000px) {
    .team .team-desc p {
        padding: 2vh 3vw;
        background: var(--color-black);
    }
}

.team .team-desc p:first-of-type {
    margin-top: 2vh;
}

.team .team-desc p:last-of-type {
    margin-bottom: 2vh;
    color: var(--color-primary);
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-weight: 800;
}

@media (min-width: 1000px) {
    .team .team-desc p:first-of-type {
        font-size: clamp(1rem, 2rem + 2vw, 2rem);
        font-weight: 500;
    }
}

.team .team-player {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .team .team-player {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }
}

@media (min-width: 1000px) {
    .team .team-player {
        display: flex;
        flex-direction: column;
    }
}

.team .team-player li {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    .team .team-player li {
        justify-content: left;
        width: fit-content;
    }

    .team .team-player li:nth-of-type(2),
    .team .team-player li:nth-of-type(4),
    .team .team-player li:nth-of-type(6) {
        margin-left: 100px;
    }
}

.team .team-player .icon-box {
    width: 70px;
    height: 70px;
    border: 2px solid var(--color-primary);
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team-player .icon-box img {
    object-fit: contain;
    transform: rotate(45deg);
}

.team .team-player a {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;
    padding-right: 1rem;
    /* border-right: 4px solid var(--color-primary); */
}

@media (min-width: 600px) {
    .team .team-player a {
        margin: 0 0 0 2rem;
    }
}

.team .team-player a span:first-of-type {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: clamp(1rem, 1rem + 1vw ,2rem);
    font-weight: 700;
    transform: skew(-10deg);
}

.team .team-player a span:last-of-type {
    color: var(--color-primary);
    font-size: clamp(1rem, 1rem + .5vw, 1.5rem);
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    padding: 2vh 7.5vw;
} 

.timer h3 {
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.news {
    background: var(--color-black);
}

.news .news-wrapper {
    padding: 5vh 2vw;
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 1000px) {
    .news .news-wrapper {
        grid-template-columns: auto auto;
        column-gap: 2vw;
    } 
}

@media (min-width: 1400px) {
    .news .news-wrapper {
        grid-template-columns: auto;
    } 
}

@media (min-width: 2800px) {
    .news .news-wrapper {
        grid-template-columns: auto auto;
    } 
}
