.article--big__container {
    /* grid placement */
    grid-row: auto/span 8;
    grid-column: auto/span 3;
}
.article--big__container {
    /* min-width: 500px;
    width: 100%;
    max-width: 525px; */
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}
.article--big__container:hover > .article--big__image{
    opacity: .9;
}
.article--big__image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
}
.article--big__desc {
    position: relative;
    width: 100%;
    min-height: 50%;
    height: fit-content;
    background: linear-gradient(to bottom, transparent, black);
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}
.article--big__tags {
    display: flex;
    padding: 5px 10px;
}
.article--big__tag {
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 25px;
}
.article--big__headline {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 30px;
}
.article--big__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article--big__info .left,
.article--big__info .right {
    display: flex;
    align-items: center;
}
.article--big__profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.article--big__username {
    padding-left: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.article--big__release {
    color: gray;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
}
.article--big__views,
.article--big__share {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
